# List Simple Comprehension Questions

In [1]:
1. Write a Python program to iterate through a string Using List Comprehension.
    Data:
        s = "constituition"
    Expected Output:
        ['c', 'o', 'n', 's', 't', 'i', 't', 'u', 'i', 't', 'i', 'o', 'n']

In [1]:
s = "constituition"
[i for i in s]

['c', 'o', 'n', 's', 't', 'i', 't', 'u', 'i', 't', 'i', 'o', 'n']

In [ ]:
2. Write a Python program to print the even numbers from 0 to 20 using list Comprehension.
    Expected Output:
        [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
[i for i in range(21) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
3. Write a Python program to print the numbers from 0 to 100 which are divisible by 2 or 5 using list Comprehension.
    Expected Output:
    [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
res1 = [i for i in range(101) if i % 10 == 0]
print(res1)
res2 = [i for i in range(101) if i % 2 == 0 or i % 5 == 0]
print(res2)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[0, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [3]:
4. Write a Python program to generate a 3*6*9 3D array whose each element is *.

In [12]:
array_3d = [[['*' for _ in range(9)] for _ in range(6)] for _ in range(3)]

for layer in array_3d:
    for row in layer:
        print(row)
    print()

['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']

['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']

['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*', '*', '*']

In [4]:
5. Write a Python program to print the numbers of a specified list after removing even numbers from it.
    Data:
        m = [7, 8, 120, 25, 44, 20, 27]
    Expected Output:
        [7, 25, 27]

In [16]:
m = [7, 8, 120, 25, 44, 20, 27]
res = [i for i in m if i % 2 != 0]
print(res)

[7, 25, 27]

In [ ]:
6. Write a Python program to create a list by concatenating a given list with numbers ranges from 1 to n.
    Data:
        list : ['l', 'm']
        n = 4
    Expected Output:
        ['l1', 'm1', 'l2', 'm2', 'l3', 'm3', 'l4', 'm4']

In [19]:
my_list = ['l','m']
n = 4
[f"{j}{i}" for i in range(1,n+1) for j in my_list]

['l1', 'm1', 'l2', 'm2', 'l3', 'm3', 'l4', 'm4']

In [6]:
7. Write a Python program to insert an element before each element of a list.
    Data:
        x = ['marvel', 'boss', 'siva']
    Expected Output:
        ['c', 'marvel', 'c', 'boss', 'c', 'siva']

In [44]:
x = ['marvel', 'boss', 'siva']
element_to_add = 'c'
[j for i in x for j in (element_to_add,i)]

['c', 'marvel', 'c', 'boss', 'c', 'siva']

In [7]:
8. Write a Python program to print each list on a new line from a given nested list.
    Data:
        x = [['Red'], ['Green'], ['Black']]
    Expected Output:
        ['Red']
        ['Green']
        ['Black']

In [54]:
x = [['Red'], ['Green'], ['Black']]
_ = [print(i) for i in x] # _ is common convention of unused variables

['Red']
['Green']
['Black']

In [ ]:
9. Write a Python program to split a list after every nth element.
    Data:
        list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
    Expected Output:
        [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [55]:
data = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 3
result = [data[i::n] for i in range(n)]
print(result)

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [8]:
10. Write a Python program to check whether all elements in a list are equal to the specified string.
    Data:
        x = ["green", "orange", "black", "white"]
        y = ["green", "green", "green", "green"]
    Expected Output:
        False
        True

In [60]:
x = ["green", "orange", "black", "white"]
y = ["green", "green", "green", "green"]
specified_string = "green"
all_x_equal = all([i == specified_string for i in x])
all_y_equal = all([j == specified_string for j in y])
print(all_x_equal)
print(all_y_equal)

False
True

In [9]:
11. Write a Python program to find a tuple from the list of tuple whose second value is the smallest.
    Data:
        x = [(4, 1), (1, 2), (6, 0)]
    Expected Output:
        (6, 0)

In [61]:
x = [(4, 1), (1, 2), (6, 0)]
res = min(x, key = lambda t:t[1])
print(res)

(6, 0)

In [10]:
12. Write a Python program to create a list of empty dictionaries.
    Data:
        n = 5
    Expected Output:
        [{}, {}, {}, {}, {}]

In [64]:
n = 5
['{}' for i in range(n)]

['{}', '{}', '{}', '{}', '{}']

In [ ]:
13. Write a Python program to insert a given string at the beginning of all items of a list.  
    Data:
        list : [1, 2, 3, 4]
        string : boss
    Expected Output:
        ['boss1', 'boss2', 'boss3', 'boss4']

In [66]:
list = [1, 2, 3, 4]
string = 'boss'
[f"boss{i} "for i in list]

['boss1 ', 'boss2 ', 'boss3 ', 'boss4 ']

In [11]:
14. Write a Python program to check whether all the values in a list are > 200.
    Data:
        a = [220, 330, 500]
    Expected Output:
        True

In [77]:
a = [220, 330, 500]
res = any(i > 200 for i in a)
print(res)

True

In [12]:
15. Write a Python program to check whether all the dictionaries in a list are empty or not.
    Data:
        x = [{},{},{}]
        y = [{1,2},{},{}]   
    Expected Output:
        True
        False

In [80]:
x = [{},{},{}]
y = [{1,2},{},{}]
all_x_empty = all(i == {} for i in x)
all_y_empty = all(j == {} for j in y)
print(all_x_empty)
print(all_y_empty)

True
False

In [ ]:
16. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
    Data:
        List : ['baskar', 'bala', 'siva', 'sai', 'suresh', 'kumar']
    Expected Output:
        ['bala', 'siva', 'sai']

In [87]:
l = ['baskar', 'bala', 'siva', 'sai', 'suresh', 'kumar']
index_to_remove = {0,4,5}
[j for i,j in enumerate(l) if i not in index_to_remove]

['bala', 'siva', 'sai']

In [13]:
17. Write a Python program to print the odd numbers as 'Odd' and even numbers as 'even' within the range(10).
    Expected Output:
        ['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [88]:
['Even' if i % 2 == 0 else 'Odd' for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [14]:
18. Write a Python program to combine all the first element of a list of lists into a new list and 
        all the second element of a list of lists into another list. And print the two new lists as a list of lists.
    Data:
        x = [[1, 2], [3,4], [5,6], [7,8]]  
    Expected Output:
        [[1, 3, 5, 7], [2, 4, 6, 8]]

In [107]:
x = [[1, 2], [3,4], [5,6], [7,8]]
first = [i[0] for i in x]
second = [i[1] for i in x]
res = [first,second]
res

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [15]:
''' 19. Write a Python program to print following output from given two list.
    Data:
        a = [-2, -1, 0, 1, 2, 3]
        b = [4, 5, 6, 7, 8]
    Expected Output:
        [4, 6, 8, 8, 12, 16, 12, 18, 24] '''

# Question incomplete

In [ ]:
20. Write a Python program to print 'yes' when value is 1, 'no' when value is 2 and for any other values print 'idle' for the given data.
    Data:
        l = [1, 2, 3, 4, 5] 
    Expected Output:
        ['yes', 'no', 'idle', 'idle', 'idle']

In [99]:
l = [1, 2, 3, 4, 5]
["yes" if i == 1 else "no" if i == 2 else "idle" for i in l]

['yes', 'no', 'idle', 'idle', 'idle']